@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#developers {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 30px 8px; /* 40px = row gap, 20px = column gap */
  align-items: center;
  justify-items: center;
  margin-top: 90px;
 

  justify-content: center;                   /* centers the grid as a block */
  align-content: start;
  width: min(100%, 1000px);                  /* constrain width */
  /*margin-inline: auto;     
  height: auto;*/
}

/* Team Header on top right, spanning 2 columns */
.team-header {
  font-family: "Nico Moji", sans-serif;
  grid-column: 3 / span 2;
  grid-row: 1;
  text-align: right;
  
}

/* Team members grid */
.team-members {
  display: contents; /* allows members to become direct grid children */
  justify-items: center;
  text-align: center;
}

.avatar {
  height: 180px;
  width: 180px;
  margin-left: 55px;
  margin-right: 55px;
}
.team-header p,
.team-header h1,
.team-members h3,
.team-members p {
  font-family: "Nico Moji", sans-serif;
}
.team-header h1{
  font-weight: 100;
  font-size: 1rem;
}
.member h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700; 
  font-size: 1.5rem;
  letter-spacing: 1px;  
  -webkit-text-fill-color: currentColor; 
  white-space: nowrap;
   line-height: 2.5rem;
   word-spacing: 5px;
}
.team-members p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; 
  font-size: 1.1rem;
  letter-spacing: -1px; 
  -webkit-text-stroke: 0.05px rgba(0, 0, 0, 0.4); 
  
  white-space: nowrap; 
}
.team-subtitle,
.team-title {
  font-family: 'Montserrat', sans-serif  !important;
}
.team-title {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800 !important;
  font-size: 4.8rem !important;
  font-style: normal !important;
  letter-spacing: 2px !important;

  margin-left: -50px;  
  margin-top: -10px; 

  
  white-space: nowrap;
}
.team-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;   
  font-weight: 500;    
  font-style: italic;  

  white-space: nowrap; 
}






/* media query */

